<!DOCTYPE html>
<html>

<head>
    <title>Youtube Comments Sentiment Analysis</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function showLoader() {
                event.preventDefault();
                document.querySelector('.loader-wrapper').style.display = 'block';
                document.querySelector('form').submit();
            }
        });
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>


<body>
    <div class="container">
        <!-- <img src="/static/Image/my_plot.png" alt="Plot" width="900"> -->
        <form method="POST" onsubmit="showLoader()">
            <h1 class="butt">Youtube Comments Sentiment Analysis</h1>
            <div id="insert-link" style=" margin: auto;">
                <h3><label for="inputField" class="butt">Enter Youtube Link:</label></h3>
                <input type="text" id="inputField" name="inputField"> <br><br>
                <div class="butt"><button type="submit" onclick="$('#loading').show();">Submit</button></div>
            </div>
        </form>
        <div class="img">
            <img src="../static/Image/lad.png" alt="pic" width="200px">
        </div>
        <div id="loading">
            <span style="--i:1">F</span>
            <span style="--i:2">E</span>
            <span style="--i:3">T</span>
            <span style="--i:4">C</span>
            <span style="--i:5">H</span>
            <span style="--i:6">I</span>
            <span style="--i:7">N</span>
            <span style="--i:8">G&nbsp;</span>
            <span style="--i:9">C</span>
            <span style="--i:10">O</span>
            <span style="--i:11">M</span>
            <span style="--i:12">M</span>
            <span style="--i:13">E</span>
            <span style="--i:14">N</span>
            <span style="--i:15">T</span>
            <span style="--i:16">S</span>
            <span style="--i:17">.</span>
            <span style="--i:18">.</span>
            <span style="--i:19">.</span>
            <span style="--i:20">.</span>
        </div>
        <div class="info">
            <p class="infop">It takes approx about 5 to 6 minutes to scrap 1000 comments.<br /> The application needs the calculated time to scrap the comments of the video.<br /> Kindly wait for the process to finish.</p><br>
        </div>

    </div>

</body>

</html>